@use "theme.scss";

$default-font-size: 20px;

html {
  font-family: theme.$FONT_MAIN;
  font-size: $default-font-size;
  background: theme.$PRIMARY_BACKGROUND_COLOR;
  color: theme.$PRIMARY_FOREGROUND_COLOR;
  padding: theme.$PADDING_HUGE;
}

main {
  max-width: 1200px;
  margin: auto;
}

h1 {
  border-bottom: 0.3em solid theme.$PRIMARY_COLOR_HIGHLIGHT;
}

input,
textarea,
button {
  font-size: $default-font-size;
  font-family: theme.$FONT_MAIN;
  background: theme.$PRIMARY_BACKGROUND_COLOR;
  color: theme.$PRIMARY_FOREGROUND_COLOR;
  border-radius: theme.$SLIGHT_BORDER_RADIUS;
  border-color: theme.$PRIMARY_COLOR_HIGHLIGHT;
  padding: theme.$PADDING_MEDIUM;

  &::placeholder {
    color: theme.$PRIMARY_FOREGROUND_COLOR_PLACEHOLDER;
  }
}

#brailleTranslation {
  $font-size: theme.$FONT_SIZE_SLIGHTLY_LARGER;
  background: theme.$SECONDARY_BACKGROUND_COLOR;
  color: theme.$SECONDARY_FOREGROUND_COLOR;
  padding: 1em;
  border-radius: theme.$SLIGHT_BORDER_RADIUS;
  font-size: $font-size;

  &::before {
    display: inline-block;
    height: $font-size;
    content: "";
    width: 0;
  }
}
