$SLIGHT_BORDER_RADIUS: 0.3em;
$MAX_BORDER_RADIUS: 100%;

$FONT_SIZE_SLIGHTLY_LARGER: 1.3em;
$FONT_SIZE_HUGE: 2em;

$PADDING_TINY: 0.3em;
$PADDING_SMALL: 0.5em;
$PADDING_MEDIUM: 0.8em;
$PADDING_LARGE: 1em;
$PADDING_HUGE: 2em;

$BORDER_WIDTH_TINY: 0.3em;
