@use "colors.scss";
@use "dimens.scss";

// Colors
$PRIMARY_BACKGROUND_COLOR: colors.$BRIGHT_PINK;
$SECONDARY_BACKGROUND_COLOR: colors.$MAGENTA;

$PRIMARY_FOREGROUND_COLOR: colors.$VIOLET;
$SECONDARY_FOREGROUND_COLOR: colors.$LAVENDER;

$PRIMARY_COLOR_HIGHLIGHT: colors.$MAGENTA;
$SECONDARY_COLOR_HIGHLIGHT: colors.$DARK_PINK;

$PRIMARY_FOREGROUND_COLOR_PLACEHOLDER: adjust-color(
  $color: $PRIMARY_FOREGROUND_COLOR,
  $alpha: -0.4,
);
$SECONDARY_FOREGROUND_COLOR_PLACEHOLDER: adjust-color(
  $color: $SECONDARY_FOREGROUND_COLOR,
  $alpha: -0.4,
);

// Border Radius
$SLIGHT_BORDER_RADIUS: dimens.$SLIGHT_BORDER_RADIUS;

// Font Size
$FONT_SIZE_SLIGHTLY_LARGER: dimens.$FONT_SIZE_SLIGHTLY_LARGER;

// Padding
$PADDING_TINY: dimens.$PADDING_TINY;
$PADDING_SMALL: dimens.$PADDING_SMALL;
$PADDING_MEDIUM: dimens.$PADDING_MEDIUM;
$PADDING_LARGE: dimens.$PADDING_LARGE;
$PADDING_HUGE: dimens.$PADDING_HUGE;

// Font
$FONT_MAIN: sans-serif;
